.hobby {
    font-family: 'DM Serif', serif;
    background-color: rgb(255, 247, 255);
    color: rgb(0, 0, 0);
}


#travel_title {
    margin-top: 58px;
    margin-bottom: 10px;
    padding-top: 200px;
    padding-bottom: 300px;
    background-image: url("./Images/ShangHaiPhoto.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.travel {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid, rgb(0, 0, 0);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 25px;
}

#video_game_title {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url("./Images/hollow_knight.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.gaming {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid, rgb(0, 0, 0);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 25px;
}

#game_clip {
    margin-top: 40px;
}

#fitness_title {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url("./Images/fitness.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.fitness {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid, rgb(0, 0, 0);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

#workout_tracker_title {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url("./Images/equipment.jpg");
    background-position: bottom;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.workout_tracker {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid, rgb(0, 0, 0);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

#blackjack_title {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 150px;
    padding-bottom: 350px;
    background-image: url("./Images/blackjack.webp");
    background-position: top;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.blackjack {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid, rgb(0, 0, 0);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

#heart_disease_title {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("./Images/heart.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.heart_disease_classifier {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid, rgb(0, 0, 0);
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

section a {
    color: rgb(0, 160, 155);
}

#filler {
    background-image: url("./Images/scenery.jpg");
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-position: center;
    background-size: cover;
    color: rgb(225, 225, 225);
    font-size: 200px;
}

#intro {
    width: 20%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(225, 225, 225);
    background-color: rgb(0, 0, 0);
}

.introduction {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 25px;
}

#education_title {
    width: 20%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(225, 225, 225);
    background-color: rgb(0, 0, 0);
}

.education {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 25px;
}

#work_title {
    width: 20%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(225, 225, 225);
    background-color: rgb(0, 0, 0);
}

.work_experience {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 40px;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 247, 255);
    text-align: center;
    color: rgb(0,0,0);
}

section ul a {
    color: rgb(60, 136, 255);
}

.header {
    width: 100%;
    height: 58px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

nav a {
    margin-right: 300px;
    font-size: 35px;
    font-family: 'Baskervville SC', serif;
    color: rgb(225, 225, 225);
    text-decoration: none;
    line-height: 1.5;
    padding: 2px 3px 6px;
}

nav a:hover {
    background-color: rgb(60, 60, 60);
}

nav a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 600px) {
    nav a {
        margin-right: 10px;
    }
}


